@import '~styles/variables';

.Profile {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.Profile-image {
  max-height: 90vh;
  max-width: 90vw;
  margin-top: 5vmin;
}

.Profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vmin 5vmin 0 5vmin;
}

.Profile-header {
  font-family: 'Source Code Pro', monospace;
  font-size: calc(10px + 2vmin);
}

.Profile-link {
  position: relative;
  color: $link-color;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
    left: 0;
    border-top: 1px solid transparent;
    transition: border-color 400ms;
  }

  &:hover:after {
    border-color: $link-color;
  }
}

@media (min-width: $large-screen-size) {
  .Profile {
    flex-direction: row;
  }

  .Profile-image {
    height: 90vh;
    margin: 5vmin 5vmin 5vmin 0;
  }

  .Profile-text {
    align-items: flex-end;
    text-align: right;
    margin: 5vmin;
  }
}
