@import '~styles/variables';

.Profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Profile-image {
  height: 90vh;
}

.Profile-text {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5vmin;
  text-align: right;
}

.Profile-header {
  font-family: 'Source Code Pro', monospace;
  font-size: calc(10px + 2vmin);
}

.Profile-link {
  position: relative;
  color: $link-color;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
    left: 0;
    border-top: 1px solid transparent;
    transition: border-color 400ms;
  }

  &:hover:after {
    border-color: $link-color;
  }
}
