// Layout
$content-min-width: 300px;
$large-screen-size: 800px;
$background-color: #fff;
$text-color: #4d8ca0;

// Global
$button-hover-color: $background-color;
$button-hover-background: $text-color;
