@import '~styles/variables';

/*******************************************************************************
* Mobile screen styles (< 800px)
*******************************************************************************/
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $text-color;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: $content-min-width;
  overflow-y: auto;
}

/*******************************************************************************
* Non-mobile screen styles (> 800px)
*******************************************************************************/
@media (min-width: $large-screen-size) {
}
