@import '~styles/variables';

/*******************************************************************************
* Mobile screen styles (< 800px)
*******************************************************************************/
.Layout {
  height: 100vh;
  color: $text-color;
}

.Container {
  height: 100%;
  overflow: auto;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*******************************************************************************
* Non-mobile screen styles (> 800px)
*******************************************************************************/
@media (min-width: $large-screen-size) {
  // stub
}
