@import '~styles/variables';

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  font-size: 80%;
  opacity: 0;
  transition: opacity 400ms;
  overflow: hidden;
}

.Footer-link {
  position: relative;
  margin: 0 1em;
  color: $link-color;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
    left: 0;
    border-top: 1px solid transparent;
    transition: border-color 400ms;
  }

  &:hover:after {
    border-color: $link-color;
  }
}

@media (min-width: 800px) {
  .Footer {
    position: absolute;
    bottom: 0;
  }
}
